/* Ajustando Cores*/

/* Colors */
$color--primary: #fafafa;
$color--primary--light: #ffffff;
$color--secondary: #999999;
$color--secondary--dark: #000;
/* --- */

$colors: (
  primary: (
    base: $color--primary,
    white: $color--primary--light,
  ),
  secondary: (
    base: $color--secondary,
    dark: $color--secondary--dark,
  ),
);

$layout-bg: #222;

$layout-breakpoints: (
  // Small screen / phone
    sm: 576px,
  // Medium screen / tablet
    md: 768px,
  // Large screen / desktop
    lg: 1024px,
  // Extra large screen / wide desktop
    xl: 1200px,
  // Extra large screen / wide desktop
    xxl: 1400px,
  // Super Extra large screen / wide desktop/
    xxxl: 1600px
) !default;

$font-sizes: (
  regular: (
    base: 16px,
    description: 14px,
  ),
  heading: (
    first: 48px,
    second: 24px,
    third: 18px,
    fourth: 16px,
  ),
) !default;
